body{
  margin:0;
  text-align: center;
  color: #40514e;
  font-family: 'Source Serif Pro', serif;
  background-color: #f4f4f4;
}
h1{
color: #12947f;
  font-size: 5.625rem;
  margin:50px auto 0 auto;
  font-family: 'Parisienne', cursive;
}
h2{
  color: #12947f;
  font-family: 'Source Serif Pro', serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-family: 'Source Serif Pro', serif;

}
hr{
  border: dotted grey;
  border-bottom: 0px;
  width: 5%;
  margin: 50px auto;
}
.top-container {
  background-color: #e0ebe8 ;
  position: relative;
  padding-top:100px;
}
.middle-container{
margin: 50px 0;
}
.top-cloud{
position: relative;
top: 50px;
left: 300px;
}
.bottom-cloud{
position: relative;
bottom: 300px;
}
.mountain-img{
  margin-bottom:-5px;
}
p{
    line-height: 2;
}
.intro{
  width: 30%;
  margin: auto;
}

.skill-row{
  width: 800px;
  margin:100px auto;
  text-align: left;
}
.code-img{
  height: 100px;
  float: left;
  margin-right: 30px;
  position: relative;
}
.Coffee-img{
  height: 100px;
  float: right;
  margin-left: 10px;
  position: relative;
}
.contact-msg{
  width: 40%;
  margin: 40px auto 60px;
}

.btn:link{
border: 1px ;
border-color: #45b29a;
color: #1b7f69;
font-family: 'Source Serif Pro', serif;
text-decoration:none;
padding: 8px 15px;
background-color: #45b29a;
}
.btn:hover{
font-weight: normal;
background-color: #12947f;
transition: all .9s ease-in-out;
}
.footer-link:link{
  color: #1b7f69;
  font-family: 'Source Serif Pro', serif;
  margin: 10px 20px;
  text-decoration: none
}
.footer-link:hover{
  color: #eaf6f6;
  font-weight: bold;

}
.bottom-container{
  background-color: #45b29a;
  margin-top: 30px;
  padding: 50px 0 20px;
}
.copyright{
  color: #eaf6f6;
  font-size: .75rem;
  padding: 20px 0;

}
